$primaryColor: #f8f8f5;
$gold: #b59b07;
#contactPage{
    // background-color: #cccccc05;
    background-color: #eeededfa;
    #chefForm{
        height: 100vh;
        display: flex;
        align-items: center;
        padding-left: 10vh;
        padding-right: 50px;

        // background: linear-gradient(#0e0e0e -20vh, transparent 10vh), url('https://res.cloudinary.com/drdrs6pdq/image/upload/v1714794246/chef_logo-shadow_fiw8d0.png');
        // background-size: cover; /* or specific size like 100% auto */
        // background-position-y: 8vh;
        // background-repeat: no-repeat;
        #lineGold{
            position: absolute;
            display: flex;;
            height: 100%;
            width: 4px;
            background-color: #b59b07;
            left: 80%;
        }
        #lineGold2{
            position: absolute;
            display: flex;;
            height: 100%;
            width: 2px;
            background-color: #b59b07;
            left: 79.5%;
        }
        
        #logoPic{
            width: 35vw;
            height: 35vw;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center; 
            position: absolute;
            // background-position-y: 8vh;
            left: 55%;
            top: 20%;
            border: 7px solid $gold;
            &::after{
                content: '';
                display: flex;;
                height: 100%;
                width: 2px;
                background-color: #b59b07;
            }
            
        }
        #myForm{
            // height: 80%;
            width: 40% !important;
            // margin-right: -150px;
            // position: absolute;
            // margin-top: 10px;
            // background-color: #2F2F2F;
            // background-color: #eeededfa;
            background-color: #fffffffa;
            font-family: 'Inter';
            font-size: 15px;
            color: #b59b07;
            // border-radius: 6px;
            border: 1px solid #72727222;
            box-shadow: 6px 6px 6px #75757525 ;
            z-index: 5;
            
                // border: 1px solid #ffffff;
                height: fit-content;
            
            input{
                height: 25px;
                // border-radius: 4px;
                font-family: 'Inter';
                font-size: 15px;
                // color: #b59b07;
                color: #000000;
                &:focus-visible{
                    border-top: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-bottom: 1px solid #b59b07;
                    // outline: 0px;
                    // outline-style: none;
                    outline-width: 0px;
                    // box-shadow: 0 0 8px rgba(0, 86, 179, 0.5);
                    background-color: transparent;
                }
                &:focus{
                    // /border: 1px solid rgba(251, 251, 251, 0.009) !important;
                }
                &.inputText{
                    border-top: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-bottom: 1px solid #b59b07;
                }
                background-color: transparent;
            }
            textarea{
                resize: none;
                font-family: 'Inter';
                font-size: 15px;
                background-color: transparent;
                border: 1px solid #b59b07;
                padding: 5px;
                &:focus-visible{
                    outline-width: 0px;
                    border: 1px solid #b59b07;
                    // border-color: #b59b07 !important;
                }
            }
            button{
                border-color: #b59b07 !important;
                // border-radius: 4px;
                
                color: #b59b07 !important;
            }
        }
    }
}