.carouselContainer {
    width: 100%;
    height: 60%;

    #carousel{
        width: 100%;
        height: 100%;
        max-width: 1500px;
        min-width: 900px;
        min-height: 480px;
        .singleCarouselSlide{
            position: relative;
            min-height: 480px;
            max-height: 600px;
            width: 100%;
            box-shadow: 6px 6px 6px #aeaeae;
           
            #slideDescription{
                width: 40%;
                min-height: 480px;
                color: #FFFFFF;
                i{
                    cursor: pointer;
                    font-size: 68px !important;
                    &:hover{
                        font-size: 65px !important;
                        text-shadow: 3px 0px 2px #b59b07;
                    }
                    &:active{
                        font-size: 68px !important;
                        text-shadow: 0px 0px 0px #b59b07;
                    }
                }
                #prevSlide{
                    position: absolute;
                    top: 10px;
                }
                #nextSlide{
                    position: absolute;
                    bottom: 10px;
                }
            
            }
            #slidePic{
                width: 70%;
                position: relative;
                p{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 25px;
                }
            }
            #slideImg{
                height: 600px;
                width: 0%;
                object-fit: cover !important;
                object-position:center !important;
                transition: width 0.5s ease-in-out;
            }
            #slideText{
                scale: 0;
                transition: scale 0.5s ease-in-out;
            }
        }
    }
    #timeline{
        position: relative;
        padding-left: 40px;
        #lineWhite{
            position: absolute;
            background-color: white;
            width: 1px;
            left: calc(50% + 20px);
        }
        #circleWhite{
            background-color: white;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            left: calc(50% + 10px);
            position: absolute;
        }
    }
}

#cardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .singleCard{
        width: 100%;
        max-width: 1400px;
        &.reverse{
            flex-direction: row-reverse;
        }
        img{
            width: 50%;
            max-width: 400px;
            max-height: 400px;
            object-fit: cover;
            object-position: center 45%;
            // aspect-ratio: 1.1/1;
        }
        .cardDescr{
            max-width: 550px;
        }
    }
}
.maxWidth1500 {
    max-width: 1500px !important;
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.slidePic {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}