.carouselContainer {
  width: 100%;
  height: 60%;
}

.carouselContainer #carousel {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  min-width: 900px;
  min-height: 480px;
}

.carouselContainer #carousel .singleCarouselSlide {
  position: relative;
  min-height: 480px;
  max-height: 600px;
  width: 100%;
  -webkit-box-shadow: 6px 6px 6px #aeaeae;
          box-shadow: 6px 6px 6px #aeaeae;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription {
  width: 40%;
  min-height: 480px;
  color: #FFFFFF;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription i {
  cursor: pointer;
  font-size: 68px !important;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription i:hover {
  font-size: 65px !important;
  text-shadow: 3px 0px 2px #b59b07;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription i:active {
  font-size: 68px !important;
  text-shadow: 0px 0px 0px #b59b07;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription #prevSlide {
  position: absolute;
  top: 10px;
}

.carouselContainer #carousel .singleCarouselSlide #slideDescription #nextSlide {
  position: absolute;
  bottom: 10px;
}

.carouselContainer #carousel .singleCarouselSlide #slidePic {
  width: 70%;
  position: relative;
}

.carouselContainer #carousel .singleCarouselSlide #slidePic p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 25px;
}

.carouselContainer #carousel .singleCarouselSlide #slideImg {
  height: 600px;
  width: 0%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center !important;
     object-position: center !important;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.carouselContainer #carousel .singleCarouselSlide #slideText {
  scale: 0;
  -webkit-transition: scale 0.5s ease-in-out;
  transition: scale 0.5s ease-in-out;
}

.carouselContainer #timeline {
  position: relative;
  padding-left: 40px;
}

.carouselContainer #timeline #lineWhite {
  position: absolute;
  background-color: white;
  width: 1px;
  left: calc(50% + 20px);
}

.carouselContainer #timeline #circleWhite {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  left: calc(50% + 10px);
  position: absolute;
}

#cardsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cardsContainer .singleCard {
  width: 100%;
  max-width: 1400px;
}

#cardsContainer .singleCard.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#cardsContainer .singleCard img {
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 45%;
     object-position: center 45%;
}

#cardsContainer .singleCard .cardDescr {
  max-width: 550px;
}

.maxWidth1500 {
  max-width: 1500px !important;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slidePic {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=bio.css.map */