.hello {
    // display: none;
    border-radius: 4px;
    border: 2px solid red;
}

$nav-button-color: #000000;
$nav-button-backgr-color-hover: #000000;
$nav-button-color-hover:#fff;

.titleCh{
	color: red;
}