html, body {
    height: 100%;
    margin: 0;
}


$navBackGroundColor: #ffffff00;
$navBarTextColor: #000;
$navBtnBackGround: #C4B980;
$navBtnBackGroundDK: #000;
$navFont: normal normal 500 20px 'Prata';
$primaryColor: #897400;

// font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];

// NAVIGATION BAR ============

.navBar {
	background-color: $navBackGroundColor;
    font: $navFont;
	color: $navBarTextColor;
	
	&.scrolled{
		
		&.biggerScreen{
			transition: all 0.3s ease;
			background-color: #ffffff;
			border-bottom: 1px solid #00000049;
			filter: drop-shadow(5px 5px 8px #0000003d) !important;
			.linkContainer{
				border-bottom: 0px !important;
				padding-bottom: 0px !important;
				justify-content: left !important;
			}
			.logoNav{
				img{
					height: 5vh !important;
					&:hover{
						filter: drop-shadow(1px 1px 1px #0000007c) !important;
					}
				}
			}
		}
	}

	&.mobileView {
		max-width: 50px;
		width: 100vw;
		height: 50px;
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 10px;
		top: 10px;
		border: 2px solid $navBtnBackGroundDK;
		border-radius: 40px;
		transition: max-width 0.4s ease, height 0.4s ease, border-radius 0.6s ease; 
		z-index: 9999;
		&.expand {
			max-width: 99%;
			height: 99.4%;
			border-radius: 0px;
			border-inline: -12px;
			background-color:#ffffffce;
			right: 0px;
			top: 0px;
			#navMenu{
				padding: 0px !important;
			}
		}
		#navBgScn{
			display: none;
		}
	
        a:not(.logoNav) {
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px;
            font-size: 25px;
            color: $navBarTextColor; 
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 0px;
            opacity: 0;
            transition: max-width 1s ease;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: 20% ;
                left: 25%;
                width: 0%;
                height: 5%;
                background-color: $navBtnBackGround;
                transition: width 0.2s ease, height 0.2s ease;
                border-radius: 0px;
                pointer-events: none;
                z-index: -1;
            }
            &:hover::before {
                height: 5%;
                width: 50%;
            }
            &:active {
                text-shadow: 0px 0px 10px #000; 
                            
                &::before {
                    width: 50%;
                    height: 90%;
                    bottom: 10%; 
                    border-radius: 0;
                }
            }
        }
		.hambContainer {
			padding: 10px;
			border-radius: 0px;
			display: flex;
			justify-content: end;
	
			.hamburger-menu {
				cursor: pointer;
				width: 30px;
				height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 1px 0px;
	
				.bar {
					height: 4px;
					border-radius: 10px;
					width: 95%;
					background-color: $navBtnBackGroundDK;
					border-radius: 10px;
					transition: all 0.4s ease;	
				}
				&.openHam{
					.bar {
						&#bar1 {
							transform: rotate(45deg) translate(0px, 10px);
							width: 120%;
						}
						&#bar2 {
							transform: translate(-100px, 25px);
							width: 400%;
							height: 2px;
							margin-right: 30px;
							display: none;
						}
						&#bar3 {
							transform: rotate(-45deg) translate(0px, -10px);
							width: 120%;
						}
					}
				}
			}
		}
		#navMenu {
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			width: 0vw;
			flex-direction: column;
			padding-bottom: 20px;
			justify-content: center;
			align-items: center;
			transition: max-width 0.5s ease;
			img{
				height: 0vh;
				margin-bottom: 40px;
				transition: height 0.5s ease;
				filter: drop-shadow(1px 1px 1px #0000007c) !important;
			}

			&.show{
				width: 100%;
				a {
					width: 80%;
					max-width: 100%;
					opacity: 1;
				}
				img{
					height: 18vw;
				}
			} 
		}
	}
	&.biggerScreen{
		position: fixed;
		top: 0px;
		display: flex;
		width: 100%;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		z-index: 9999;
		div#hambContainer,nav#navMenu{
			display: none;
		}
		#navBgScn {
			display: flex;
			width: 100%;
			justify-content: left;
			align-items: center;
			img{
				height: 12vh;
				margin-left: 3vw;
				margin-right: 5vw;
				filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
				&:hover{
					filter: drop-shadow(1px 1px 1px #0000007c) !important;

				}
			}
            .linkContainer{
                border-bottom: 1px solid #000;
            }
			a:not(.logoNav){
				color: $navBarTextColor;
				margin-right: 3vw;
				text-decoration: none !important;
				position: relative;
				z-index: 0;
				&:hover, &:active{
					text-shadow: #000;
				}
				&::before{
					content: '';
					position: absolute;
					bottom: 0% ;
					left: -10%;
					width: 0%;
					height: 50%;
					background-color: $navBtnBackGround;
					transition: width 0.2s ease, height 0.1s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					width: 120%;
				}
				&:active {
					text-shadow: 0px 0px 10px #ffffff; 
			
					&::before {
						height: 100%;
						bottom: 0%; 
						border-radius: 0;
					}
				}
			}
		}
	}
}

// LANDING PAGE ========
.landingPage{
    background-image: url('https://res.cloudinary.com/drdrs6pdq/image/upload/v1709553929/Niko/Home_Page_Chef_Kapernaros_img_HQ_1_q0nf2f.png');
    background-size: cover;
    background-position: top;
    height: 100%;
    .chefQuote{
        // background-color: #F3F1E5;
        // width: fit-content;
        p{
			margin: 0px;
        }
        .upLine{
			font-size: 63px;
			position: relative;
			i{
				position: absolute;
				left: -40px;
			}
            span{
				font-size: 55px;
            }
        }
        .dwnLine{
			font-size: 55px;
			position: relative;
			i{
				position: absolute;
			}
            span{
                font-size: 58px;
            }
        }
    }
    img{
        transform: rotate(-2deg);
    }
}

.middlePic{
	background-color: #F5F5F5;
	img{
		object-fit: cover;
		aspect-ratio: 1/1.2;
		width: 33%;
	}
}
.bioLanding{
	height: 70vh;
	// display: flex;
	.bioLandingPicContainer{
		position: relative;
		height: 100%;
		margin-top: 2%;
		img{
			position: absolute;
			height: 40%;
			box-shadow: 6px 6px 6px #C3C3C3;
			aspect-ratio: 1/1.1;
			object-fit: cover;
			object-position: center;
			transform: translateX(200%);
			opacity: 0;
			scale: 0;
			transition: all 0.6s ease;
			&.in-view{
				scale: 1;
				opacity: 1;
				transform: translateX(0%);
				&#pic1{
					top: 0%;
					left: 35%;
					z-index: 4;
					transition-delay: 0s;
				}
				&#pic2{
					top: 22%;
					left: 55%;
					z-index: 3;
					transition-delay: 0.2s;
				}
				&#pic3{
					top: 55%;
					left: 35%;
					z-index: 2;
					transition-delay: 0.4s;
				}
				&#pic4{
					top: 32%;
					left: 15%;
					z-index: 1;
					transition-delay: 0.6s;
				}
			}
		}
	}
	.bioLandingTextContainer{
		.textBioLanding{
			font-family: 'Inter';
			text-align: justify;
			text-justify: inter-word;
			padding-right: 60px;
		}
	}

}
.charityLanding{
	height: 70vh;
	flex-direction: row-reverse;
	.charityLandingPicContainer{
		position: relative;
		height: 100%;
		margin-top: 2%;
		img{
			position: absolute;
			height: 40%;
			box-shadow: 6px 6px 6px #C3C3C3;
			aspect-ratio: 1/1.1;
			object-fit: cover;
			object-position: center;
			transform: translateX(200%);
			opacity: 0;
			scale: 0;
			transition: all 0.6s ease;
			&.in-view{
				scale: 1;
				opacity: 1;
				transform: translateX(0%);
				&#pic1{
					top: 0%;
					left: 35%;
					z-index: 4;
					transition-delay: 0s;
				}
				&#pic2{
					top: 22%;
					left: 55%;
					z-index: 3;
					transition-delay: 0.2s;
				}
				&#pic3{
					top: 55%;
					left: 35%;
					z-index: 2;
					transition-delay: 0.4s;
				}
				&#pic4{
					top: 32%;
					left: 15%;
					z-index: 1;
					transition-delay: 0.6s;
				}
			}
		}
	}
	.charityLandingTextContainer{
		padding-left: 80px;
		.textCharityLanding{
			font-family: 'Inter';
			text-align: justify;
			text-justify: inter-word;
		}
	}

}
.achievementLanding{
	min-height: 780px;
	height: 88vh;
	// max-height: 100vh;
	background-color: #EAEAEA;
	.allAchvmText{
		position: relative;
		img{
			position: absolute;
			right: 40px;
			top: 40px;
		}
		p:not(.titlesChef){
			margin-top: 0px !important;		
			margin-bottom: 25px !important;		
		}
		.achCards{
			background-color: #2F2F2F;
			color: #e1e0d3;
			box-shadow:  6px 6px 6px #00000059;
			padding: 25px 25px;
			margin-top: 0px;
			// position: absolute;
			transform: translateY(400%);
			scale: 0;
			transition: all 0.8s ease;

			&.in-view{
				transform: translateY(0%);
				scale: 1;
				&#card-1{
					transition-delay: 0s;
					right: 30%;
				}
				&#card-2{
					transition-delay: 0.2s;
				}
				&#card-3{
					transition-delay: 0.4s;
				}
				&#card-4{
					transition-delay: 0.6s;
				}
				&#card-5{
					transition-delay: 0.8s;
				}
			}
		}

	}
	.imgAchvm{
		// width: fit-content !important;
		img{
			// width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			aspect-ratio: 1/1.5;
		}
	}
}

.titlesChef { 
	color: #001489;
    text-align: justify;
	font: $navFont;
	font-size: 27px;
    line-height: normal;
	position: relative;
	margin-left: 15px;
	font-weight: 500;
	&::before{
		content: '';
		position: absolute;
		bottom: 5px ;
		left: -20px;
		width: 6px;
		height: 100%;
		background-color: $primaryColor;
	}
}

.btnPrimary {
	border: 1px solid $primaryColor;
	color: $primaryColor;
	font-family: 'Inter';
	text-decoration: none;
	padding: 10px 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: fit-content;
	font-size: 16px;
	filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
	transition: all 0.3s ease;
	&:hover{
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.55));
		cursor: pointer;
	}
	&:active{
		filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}

}
// Break Points 

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
	.chefQuote{
		width: 60%;
		// p{
		// 	font-size: 45px !important;
		// }
		// .fontSize40{
		// 	font-size: 30px !important;
		// }
		// .fontSize58{
		// 	font-size: 45px !important;
		// }
	}
	.achievementLanding{
		.btnPrimary{
			font-size: 16px !important;
			padding: 10px 20px !important;

		}
		.allAchvmText{
			width: 60% !important;
			#chef-corps-logo{
				max-width: 200px !important;
			}
			img{

			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 25px !important;		
			}
			.achCards{
	
				&.in-view{
					&#card-1{
						// font-size: ;
						right: 30%;
					}
					&#card-2{
						font-size: 25px !important;
					}
					&#card-3{
						font-size: 20px !important;
					}
					&#card-4{
						font-size: 17px !important;
					}
					&#card-5{
						font-size: 25px !important;
					}
				}
			}
	
		}
		.imgAchvm{
			width: 40% !important;
			img{

			}
		}
	}
}
@media only screen and (max-width: 1361px) {
	.achievementLanding {
		.btnPrimary{
			position: absolute;
			bottom: 30px;
		}
	} 
}
@media only screen and (min-width: 701px) and (max-width: 930px) {

	.chefQuote{
		width: 80% !important;
		p{
			font-size: 40px !important;
		}
		.fontSize40{
			font-size: 28px !important;
		}
		.fontSize58{
			font-size: 40px !important;
		}
	}
}
@media only screen and (min-width: 701px) and (max-width: 1300px) {
	
	.chefQuote{
		width: 60%;
		p{
			font-size: 40px !important;
		}
		.fontSize40{
			font-size: 28px !important;
		}
		.fontSize58{
			font-size: 40px !important;
		}
	}
	.achievementLanding{
		// flex-direction: column;
		align-items: start;
		height: fit-content;
		width: 100%;

		.allAchvmText{
			width: 90%;
			padding: 0px !important;
			height: fit-content;
			.cardsLine{
				flex-wrap: wrap;
				flex-direction: column-reverse !important;
				width: 100% !important;
				.btnWrap{
					height: fit-content !important;
					margin-top: 30px;
					// margin-bottom: 30px;
					.btnPrimary{
						position: relative !important;
					}
				}
			}
			#chef-corps-logo{
				max-width: 200px !important;
				right: 25px !important;
				top: 80px !important;
			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 25px !important;		
			}
			.achCards{
				max-width: 80% !important;
				width: 100% !important;
				text-align: center;
	
				&.in-view{
					&#card-2, &#card-4{
						margin-left: 50%;
					}
				}
			}
	
		}
		.imgAchvm{
			display: flex;
			height: 50%;
			width: 60%;
			margin-left: 0px !important;
			justify-content: center;
			img{
				width: 80%;
				max-height: 50% !important;
				display: flex;
			}
		}
	}
	.bioLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.bioLandingPicContainer{
			width: 80%;
			// height: fit-content !important;
			display: flex;
			justify-content: space-around;
			// padding: 30px;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 23%;
				height: 75%;
			}
	
		}
		.bioLandingTextContainer{
			width: 80%;
			margin-bottom: 30px;
			.textBioLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.charityLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.charityLandingPicContainer{
			width: 80%;
			display: flex;
			justify-content: space-around;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 23%;
				height: 75%;
			}
	
		}
		.charityLandingTextContainer{
			width: 80%;
			margin-bottom: 30px;
			.textCharityLanding{
				padding-right: 0px !important;
			}
		} 
	}
}
@media only screen and (max-width: 700px) {
	.landingPage{
		justify-content: end !important;
		// background-position: right;
		background-position-x: 87.5%;
		.signature{
			width: 100% !important;
			// z-index: 9999999;
			img{
				width: 70%;
			}
			background-color: #ffffff69 !important;
			margin-top: 0px !important;
		}
		.chefQuote{
			width: 100% !important;
			padding: 20px 0px !important;
			background-color: #ffffff69 !important;
			// z-index: 9999999;
		}
		i{
			font-size: 20px !important;
		}
		p{
			font-size: 25px !important;
			span{
				font-size: 28px !important
			};
		}
	}

	.bioLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		// padding: 30px;
		.bioLandingPicContainer{
			width: 95%;
			// height: fit-content !important;
			display: flex;
			justify-content: space-around;
			// padding: 30px;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
				// height: 75%;
			}
	
		}
		.bioLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			// padding: 30px;
			.textBioLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.charityLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		// padding: 30px;
		.charityLandingPicContainer{
			width: 95%;
			// height: fit-content !important;
			display: flex;
			justify-content: space-around;
			// padding: 30px;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
				// height: 75%;
			}
	
		}
		.charityLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			padding-left: 0px !important;
			// padding: 30px;
			.textCharityLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.achievementLanding{
		// flex-direction: column;
		align-items: start;
		height: fit-content;
		width: 100%;

		.allAchvmText{
			width: 90%;
			padding: 0px !important;
			height: fit-content;
			.cardsLine{
				flex-wrap: wrap;
				flex-direction: column-reverse !important;
				width: 100% !important;
				.btnWrap{
					height: fit-content !important;
					margin-top: 30px;
					// margin-bottom: 30px;
					.btnPrimary{
						position: relative !important;
					}
				}
			}
			#chef-corps-logo{
				max-width: 120px !important;
				right: 15px !important;
				top: -15px !important;
			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 25px !important;		
			}
			.card-1Div{
				width: 100% !important;
				margin-left: 0%;
				margin-top: 20px !important;
				justify-content: start !important;
				#card-1{
					margin-top: 15px !important;
				}
			}
			.achCards{
				max-width: 80% !important;
				width: 80% !important;
				text-align: center;
				&.in-view{
					margin-left: 0% !important;
					// &#card-2, &#card-4{
					// 	margin-left: 5%;
					// }
				}
			}
		}
		.imgAchvm{
			display: none;
		}
	}
	.titlesChef{
		font-size: 20px !important;
	}
}



  

	$--color-1: rgba(0, 0, 0, 0.7);
	$--color-2: rgba(0, 0, 0, 0.8);
	$--color-3: rgba(0, 0, 0, 0.9);
	$--color-4: rgba(0, 0, 0, 1);
	$--color-5: #C4B980;
  
  
  
.wrapper {
	// background: #000;
	line-height: 1.2;
	// min-height: 100%;
	// width: 100% !important;
	display: grid;
	place-items: center;
	// min-height: calc(100vh - 16px);
  
  
  	p {
		font-family: "Ledger";
		// font-size: 15vw;
		// font-weight: 900;
		// width: -webkit-min-content;
		// width: -moz-min-content;
		// width: min-content;
		margin: auto;
		text-transform: uppercase;
		background: 
			linear-gradient(219deg, 
				$--color-1 10%, 
				
				$--color-1 11%, $--color-2  30%,
				
				$--color-2 31%,$--color-4 60% ,
				
				$--color-4 60%, $--color-1 80%,
			)
		;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
  
	.container {
		padding: 1.5rem;   
		text-align: center;
	}
}
  
  @media screen and (min-width: 768px) {
	// h1 {
	//   font-size: 6.5rem;
	// }
  }