html, body {
    height: 100%;
    margin: 0;
}


$navBackGroundColor: #ffffff00;
$navBarTextColor: #000;
$navBtnBackGround: #C4B980;
$navBtnBackGroundDK: #000;
$navFont: normal normal 500 25px 'Prata';

// font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];

// NAVIGATION BAR ============

.navBar {
	background-color: $navBackGroundColor;
    font: $navFont;
	color: $navBarTextColor;
	
	&.scrolled{
		
		&.biggerScreen{
			transition: all 0.3s ease;
			background-color: #ffffff;
			border-bottom: 1px solid #00000049;
			filter: drop-shadow(5px 5px 8px #0000003d) !important;
			.linkContainer{
				border-bottom: 0px !important;
				padding-bottom: 0px !important;
				justify-content: left !important;
			}
			.logoNav{
				img{
					height: 7vh !important;
					&:hover{
						filter: drop-shadow(1px 1px 1px #0000007c) !important;
					}
				}
			}
		}
	}

	&.mobileView {
		max-width: 50px;
		width: 100vw;
		height: 50px;
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 10px;
		top: 10px;
		border: 2px solid $navBtnBackGroundDK;
		border-radius: 40px;
		transition: max-width 0.4s ease, height 0.4s ease, border-radius 0.6s ease; 
		z-index: 9999;
		&.expand {
			max-width: 99%;
			height: 99.4%;
			border-radius: 0px;
			border-inline: -12px;
			background-color:#ffffffce;
			right: 0px;
			top: 0px;
			#navMenu{
				padding: 0px !important;
			}
		}
		#navBgScn{
			display: none;
		}
	
        a:not(.logoNav) {
            text-decoration: none;
            text-align: center;
            align-items: center;
            padding: 10px;
            font-size: 25px;
            color: $navBarTextColor; 
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 0px;
            opacity: 0;
            transition: max-width 1s ease;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: 20% ;
                left: 25%;
                width: 0%;
                height: 5%;
                background-color: $navBtnBackGround;
                transition: width 0.2s ease, height 0.2s ease;
                border-radius: 0px;
                pointer-events: none;
                z-index: -1;
            }
            &:hover::before {
                height: 5%;
                width: 50%;
            }
            &:active {
                text-shadow: 0px 0px 10px #000; 
                            
                &::before {
                    width: 50%;
                    height: 90%;
                    bottom: 10%; 
                    border-radius: 0;
                }
            }
        }
		.hambContainer {
			padding: 10px;
			border-radius: 0px;
			display: flex;
			justify-content: end;
	
			.hamburger-menu {
				cursor: pointer;
				width: 30px;
				height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 1px 0px;
	
				.bar {
					height: 4px;
					border-radius: 10px;
					width: 95%;
					background-color: $navBtnBackGroundDK;
					border-radius: 10px;
					transition: all 0.4s ease;	
				}
				&.openHam{
					.bar {
						&#bar1 {
							transform: rotate(45deg) translate(0px, 10px);
							width: 120%;
						}
						&#bar2 {
							transform: translate(-100px, 25px);
							width: 400%;
							height: 2px;
							margin-right: 30px;
							display: none;
						}
						&#bar3 {
							transform: rotate(-45deg) translate(0px, -10px);
							width: 120%;
						}
					}
				}
			}
		}
		#navMenu {
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			width: 0vw;
			flex-direction: column;
			padding-bottom: 20px;
			justify-content: center;
			align-items: center;
			transition: max-width 0.5s ease;
			img{
				height: 0vh;
				margin-bottom: 40px;
				transition: height 0.5s ease;
				filter: drop-shadow(1px 1px 1px #0000007c) !important;
			}

			&.show{
				width: 100%;
				a {
					width: 80%;
					max-width: 100%;
					opacity: 1;
				}
				img{
					height: 18vw;
				}
			} 
		}
	}
	&.biggerScreen{
		position: fixed;
		top: 0px;
		display: flex;
		width: 100%;
		padding-top: 2.5vh;
		padding-bottom: 1.5vh;
		z-index: 9999;
		div#hambContainer,nav#navMenu{
			display: none;
		}
		#navBgScn {
			display: flex;
			width: 100%;
			justify-content: left;
			align-items: center;
			img{
				height: 12vh;
				margin-left: 3vw;
				margin-right: 5vw;
				filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
				&:hover{
					filter: drop-shadow(1px 1px 1px #0000007c) !important;

				}
			}
            .linkContainer{
                border-bottom: 1px solid #000;
            }
			a:not(.logoNav){
				color: $navBarTextColor;
				margin-right: 3vw;
				text-decoration: none !important;
				position: relative;
				z-index: 0;
				&:hover, &:active{
					text-shadow: #000;
				}
				&::before{
					content: '';
					position: absolute;
					bottom: 0% ;
					left: -10%;
					width: 0%;
					height: 50%;
					background-color: $navBtnBackGround;
					transition: width 0.2s ease, height 0.1s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					width: 120%;
				}
				&:active {
					text-shadow: 0px 0px 10px #ffffff; 
			
					&::before {
						height: 100%;
						bottom: 0%; 
						border-radius: 0;
					}
				}
			}
		}
	}
}

// LANDING PAGE ========
.landingPage{
    background-image: url('https://res.cloudinary.com/drdrs6pdq/image/upload/v1709553929/Home_Page_Chef_Kapernaros_img_HQ_1_q0nf2f.png');
    background-size: cover;
    background-position: top;
    height: 100%;
    .chefQuote{
        background-color: #F3F1E5;
        // width: fit-content;
        p{
            margin: 0px;
        }
        .upLine{
            font-size: 63px;
            span{
                font-size: 55px;
            }
        }
        .dwnLine{
            font-size: 55px;
            span{
                font-size: 58px;
            }
        }
    }
    img{
        transform: rotate(-2deg);
    }
}


// Break Points 

@media only screen and (max-width: 700px) {
	.landingPage{
		justify-content: end !important;
		// background-position: right;
		background-position-x: 87.5%;
		.signature{
			width: 100% !important;
			// z-index: 9999999;
			img{
				width: 70%;
			}
			background-color: #ffffff69 !important;
			margin-top: 0px !important;
		}
		.chefQuote{
			width: 100% !important;
			padding: 20px 0px !important;
			background-color: #ffffff69 !important;
			// z-index: 9999999;
		}
		i{
			font-size: 20px !important;
		}
		p{
			font-size: 25px !important;
			span{
				font-size: 28px !important
			};
		}
	}

}