html, body {
  height: 100%;
  margin: 0;
}

.navBar {
  background-color: #ffffff00;
  font: normal normal 500 17px "Prata";
  color: #000;
}

.navBar.scrolled.biggerScreen {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  border-bottom: 1px solid #00000049;
  -webkit-filter: drop-shadow(5px 5px 8px #0000003d) !important;
          filter: drop-shadow(5px 5px 8px #0000003d) !important;
}

.navBar.scrolled.biggerScreen .linkContainer {
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.navBar.scrolled.biggerScreen .logoNav img {
  height: 5vh !important;
}

.navBar.scrolled.biggerScreen .logoNav img:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #0000007c) !important;
          filter: drop-shadow(1px 1px 1px #0000007c) !important;
}

.navBar.mobileView {
  max-width: 50px;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 10px;
  top: 10px;
  border: 2px solid #000;
  border-radius: 40px;
  -webkit-transition: max-width 0.4s ease, height 0.4s ease, border-radius 0.6s ease;
  transition: max-width 0.4s ease, height 0.4s ease, border-radius 0.6s ease;
  z-index: 9999;
}

.navBar.mobileView.expand {
  max-width: 99%;
  height: 99.4%;
  border-radius: 0px;
  border-inline: -12px;
  background-color: #ffffffce;
  right: 0px;
  top: 0px;
}

.navBar.mobileView.expand #navMenu {
  padding: 0px !important;
}

.navBar.mobileView #navBgScn {
  display: none;
}

.navBar.mobileView a:not(.logoNav) {
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 25px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 0px;
  opacity: 0;
  -webkit-transition: max-width 1s ease;
  transition: max-width 1s ease;
  position: relative;
}

.navBar.mobileView a:not(.logoNav)::before {
  content: '';
  position: absolute;
  bottom: 20%;
  left: 25%;
  width: 0%;
  height: 5%;
  background-color: #C4B980;
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
  border-radius: 0px;
  pointer-events: none;
  z-index: -1;
}

.navBar.mobileView a:not(.logoNav):hover::before {
  height: 5%;
  width: 50%;
}

.navBar.mobileView a:not(.logoNav):active {
  text-shadow: 0px 0px 10px #000;
}

.navBar.mobileView a:not(.logoNav):active::before {
  width: 50%;
  height: 90%;
  bottom: 10%;
  border-radius: 0;
}

.navBar.mobileView .hambContainer {
  padding: 10px;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navBar.mobileView .hambContainer .hamburger-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1px 0px;
}

.navBar.mobileView .hambContainer .hamburger-menu .bar {
  height: 4px;
  border-radius: 10px;
  width: 95%;
  background-color: #000;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navBar.mobileView .hambContainer .hamburger-menu.openHam .bar#bar1 {
  -webkit-transform: rotate(45deg) translate(0px, 10px);
          transform: rotate(45deg) translate(0px, 10px);
  width: 120%;
}

.navBar.mobileView .hambContainer .hamburger-menu.openHam .bar#bar2 {
  -webkit-transform: translate(-100px, 25px);
          transform: translate(-100px, 25px);
  width: 400%;
  height: 2px;
  margin-right: 30px;
  display: none;
}

.navBar.mobileView .hambContainer .hamburger-menu.openHam .bar#bar3 {
  -webkit-transform: rotate(-45deg) translate(0px, -10px);
          transform: rotate(-45deg) translate(0px, -10px);
  width: 120%;
}

.navBar.mobileView #navMenu {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: max-width 0.5s ease;
  transition: max-width 0.5s ease;
}

.navBar.mobileView #navMenu img {
  height: 0vh;
  margin-bottom: 40px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  -webkit-filter: drop-shadow(1px 1px 1px #0000007c) !important;
          filter: drop-shadow(1px 1px 1px #0000007c) !important;
}

.navBar.mobileView #navMenu.show {
  width: 100%;
}

.navBar.mobileView #navMenu.show a {
  width: 80%;
  max-width: 100%;
  opacity: 1;
}

.navBar.mobileView #navMenu.show img {
  height: 18vw;
}

.navBar.biggerScreen {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  z-index: 9999;
}

.navBar.biggerScreen div#hambContainer, .navBar.biggerScreen nav#navMenu {
  display: none;
}

.navBar.biggerScreen #navBgScn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar.biggerScreen #navBgScn img {
  height: 12vh;
  margin-left: 3vw;
  margin-right: 5vw;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.navBar.biggerScreen #navBgScn img:hover {
  -webkit-filter: drop-shadow(1px 1px 1px #0000007c) !important;
          filter: drop-shadow(1px 1px 1px #0000007c) !important;
}

.navBar.biggerScreen #navBgScn .linkContainer {
  border-bottom: 1px solid #000;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav) {
  color: #000;
  margin-right: 3vw;
  text-decoration: none !important;
  position: relative;
  z-index: 0;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav):hover, .navBar.biggerScreen #navBgScn a:not(.logoNav):active {
  text-shadow: #000;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav)::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: -10%;
  width: 0%;
  height: 50%;
  background-color: #C4B980;
  -webkit-transition: width 0.2s ease, height 0.1s ease;
  transition: width 0.2s ease, height 0.1s ease;
  border-radius: 0px;
  pointer-events: none;
  z-index: -1;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav):hover::before {
  width: 120%;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav):active {
  text-shadow: 0px 0px 10px #ffffff;
}

.navBar.biggerScreen #navBgScn a:not(.logoNav):active::before {
  height: 100%;
  bottom: 0%;
  border-radius: 0;
}

.landingPage {
  background-image: url("https://res.cloudinary.com/drdrs6pdq/image/upload/v1709553929/Niko/Home_Page_Chef_Kapernaros_img_HQ_1_q0nf2f.png");
  background-size: cover;
  background-position: top;
  height: 100%;
}

.landingPage .chefQuote p {
  margin: 0px;
}

.landingPage .chefQuote .upLine {
  font-size: 63px;
  position: relative;
}

.landingPage .chefQuote .upLine i {
  position: absolute;
  left: -40px;
}

.landingPage .chefQuote .upLine span {
  font-size: 55px;
}

.landingPage .chefQuote .dwnLine {
  font-size: 55px;
  position: relative;
}

.landingPage .chefQuote .dwnLine i {
  position: absolute;
}

.landingPage .chefQuote .dwnLine span {
  font-size: 58px;
}

.landingPage img {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.middlePic {
  background-color: #F5F5F5;
}

.middlePic img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1.2;
  width: 33%;
}

.bioLanding {
  height: 70vh;
}

.bioLanding .bioLandingPicContainer {
  position: relative;
  height: 100%;
  margin-top: 2%;
}

.bioLanding .bioLandingPicContainer img {
  position: absolute;
  height: 40%;
  -webkit-box-shadow: 6px 6px 6px #C3C3C3;
          box-shadow: 6px 6px 6px #C3C3C3;
  aspect-ratio: 1/1.1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  scale: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bioLanding .bioLandingPicContainer img#pic1 {
  top: 0%;
  left: 35%;
  z-index: 4;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.bioLanding .bioLandingPicContainer img#pic2 {
  top: 22%;
  left: 55%;
  z-index: 3;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.bioLanding .bioLandingPicContainer img#pic3 {
  top: 55%;
  left: 35%;
  z-index: 2;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.bioLanding .bioLandingPicContainer img#pic4 {
  top: 32%;
  left: 15%;
  z-index: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.bioLanding .bioLandingPicContainer img.in-view {
  scale: 1;
  opacity: 1;
}

.bioLanding .bioLandingTextContainer .textBioLanding {
  font-family: 'Inter';
  text-align: justify;
  text-justify: inter-word;
  padding-right: 60px;
}

.charityLanding {
  height: 70vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.charityLanding .charityLandingPicContainer {
  position: relative;
  height: 100%;
  margin-top: 2%;
}

.charityLanding .charityLandingPicContainer img {
  position: absolute;
  height: 40%;
  -webkit-box-shadow: 6px 6px 6px #C3C3C3;
          box-shadow: 6px 6px 6px #C3C3C3;
  aspect-ratio: 1/1.1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  scale: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.charityLanding .charityLandingPicContainer img#pic1 {
  top: 0%;
  left: 35%;
  z-index: 4;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.charityLanding .charityLandingPicContainer img#pic2 {
  top: 22%;
  left: 55%;
  z-index: 3;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.charityLanding .charityLandingPicContainer img#pic3 {
  top: 55%;
  left: 35%;
  z-index: 2;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.charityLanding .charityLandingPicContainer img#pic4 {
  top: 32%;
  left: 15%;
  z-index: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.charityLanding .charityLandingPicContainer img.in-view {
  scale: 1;
  opacity: 1;
}

.charityLanding .charityLandingTextContainer {
  padding-left: 80px;
}

.charityLanding .charityLandingTextContainer .textCharityLanding {
  font-family: 'Inter';
  text-align: justify;
  text-justify: inter-word;
}

.achievementLanding {
  min-height: 820px;
  height: 88vh;
  background-color: #EAEAEA;
}

.achievementLanding .allAchvmText {
  position: relative;
}

.achievementLanding .allAchvmText img {
  position: absolute;
  right: 40px;
  top: 40px;
}

.achievementLanding .allAchvmText p:not(.titlesChef) {
  margin-top: 0px !important;
  margin-bottom: 25px !important;
}

.achievementLanding .allAchvmText .achCards {
  background-color: #2F2F2F;
  color: #e1e0d3;
  -webkit-box-shadow: 6px 6px 6px #00000059;
          box-shadow: 6px 6px 6px #00000059;
  padding: 25px 25px;
  margin-top: 0px;
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
  scale: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.achievementLanding .allAchvmText .achCards#card-1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  right: 30%;
}

.achievementLanding .allAchvmText .achCards#card-2 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.achievementLanding .allAchvmText .achCards#card-3 {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.achievementLanding .allAchvmText .achCards#card-4 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.achievementLanding .allAchvmText .achCards#card-5 {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.achievementLanding .allAchvmText .achCards.in-view {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
  scale: 1;
}

.achievementLanding .imgAchvm img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  aspect-ratio: 1/1.5;
}

.titlesChef {
  color: #001489;
  text-align: justify;
  font: normal normal 500 17px "Prata";
  font-size: 27px;
  line-height: normal;
  position: relative;
  margin-left: 15px;
  font-weight: 500;
}

.titlesChef::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -20px;
  width: 6px;
  height: 100%;
  background-color: #897400;
}

.btnPrimary {
  border: 1px solid #897400;
  color: #897400;
  font-family: 'Inter';
  text-decoration: none;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 85px;
  font-size: 16px;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
          filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btnPrimary:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.55));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.55));
  cursor: pointer;
}

.btnPrimary:active {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
          filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.btnPrimary a {
  text-decoration: none;
  color: #897400;
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  .chefQuote {
    width: 60%;
  }
  .achievementLanding .btnPrimary {
    font-size: 16px !important;
    padding: 10px 20px !important;
  }
  .achievementLanding .allAchvmText {
    width: 60% !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 200px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-1 {
    right: 30%;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-2 {
    font-size: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-3 {
    font-size: 20px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-4 {
    font-size: 17px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-5 {
    font-size: 25px !important;
  }
  .achievementLanding .imgAchvm {
    width: 40% !important;
  }
}

@media only screen and (max-width: 1361px) {
  .achievementLanding .btnPrimary {
    position: absolute;
    bottom: 30px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 930px) {
  .chefQuote {
    width: 80% !important;
  }
  .chefQuote p {
    font-size: 40px !important;
  }
  .chefQuote .fontSize40 {
    font-size: 28px !important;
  }
  .chefQuote .fontSize58 {
    font-size: 40px !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1300px) {
  .chefQuote {
    width: 60%;
  }
  .chefQuote p {
    font-size: 40px !important;
  }
  .chefQuote .fontSize40 {
    font-size: 28px !important;
  }
  .chefQuote .fontSize58 {
    font-size: 40px !important;
  }
  .achievementLanding {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .achievementLanding .allAchvmText {
    width: 90%;
    padding: 0px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .achievementLanding .allAchvmText .cardsLine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    width: 100% !important;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: 30px;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap .btnPrimary {
    position: relative !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 200px !important;
    right: 25px !important;
    top: 80px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards {
    max-width: 80% !important;
    width: 100% !important;
    text-align: center;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-2, .achievementLanding .allAchvmText .achCards.in-view#card-4 {
    margin-left: 50%;
  }
  .achievementLanding .imgAchvm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    width: 60%;
    margin-left: 0px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achievementLanding .imgAchvm img {
    width: 80%;
    max-height: 50% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bioLanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .bioLanding .bioLandingPicContainer {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .bioLanding .bioLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 23%;
    height: 75%;
  }
  .bioLanding .bioLandingTextContainer {
    width: 80%;
    margin-bottom: 30px;
  }
  .bioLanding .bioLandingTextContainer .textBioLanding {
    padding-right: 0px !important;
  }
  .charityLanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .charityLanding .charityLandingPicContainer {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .charityLanding .charityLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 23%;
    height: 75%;
  }
  .charityLanding .charityLandingTextContainer {
    width: 80%;
    margin-bottom: 30px;
  }
  .charityLanding .charityLandingTextContainer .textCharityLanding {
    padding-right: 0px !important;
  }
}

@media only screen and (max-width: 700px) {
  .landingPage {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
    background-position-x: 87.5%;
  }
  .landingPage .signature {
    width: 100% !important;
    background-color: #ffffff69 !important;
    margin-top: 0px !important;
  }
  .landingPage .signature img {
    width: 70%;
  }
  .landingPage .chefQuote {
    width: 100% !important;
    padding: 20px 0px !important;
    background-color: #ffffff69 !important;
  }
  .landingPage i {
    font-size: 20px !important;
  }
  .landingPage p {
    font-size: 25px !important;
  }
  .landingPage p span {
    font-size: 28px !important;
  }
  .bioLanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .bioLanding .bioLandingPicContainer {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .bioLanding .bioLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 24%;
  }
  .bioLanding .bioLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
  }
  .bioLanding .bioLandingTextContainer .textBioLanding {
    padding-right: 0px !important;
  }
  .charityLanding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .charityLanding .charityLandingPicContainer {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .charityLanding .charityLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 24%;
  }
  .charityLanding .charityLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
    padding-left: 0px !important;
  }
  .charityLanding .charityLandingTextContainer .textCharityLanding {
    padding-right: 0px !important;
  }
  .achievementLanding {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .achievementLanding .allAchvmText {
    width: 90%;
    padding: 0px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .achievementLanding .allAchvmText .cardsLine {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    width: 100% !important;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: 30px;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap .btnPrimary {
    position: relative !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 120px !important;
    right: 15px !important;
    top: -15px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
  .achievementLanding .allAchvmText .card-1Div {
    width: 100% !important;
    margin-left: 0%;
    margin-top: 20px !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  .achievementLanding .allAchvmText .card-1Div #card-1 {
    margin-top: 15px !important;
  }
  .achievementLanding .allAchvmText .achCards {
    max-width: 80% !important;
    width: 80% !important;
    text-align: center;
  }
  .achievementLanding .allAchvmText .achCards.in-view {
    margin-left: 0% !important;
  }
  .achievementLanding .imgAchvm {
    display: none;
  }
  .titlesChef {
    font-size: 20px !important;
  }
}

.currentTitle {
  font-weight: 700 !important;
  font-size: 20px;
  pointer-events: none;
  margin-right: 5px;
}

.currentTitle::before {
  height: 6px !important;
  width: 120% !important;
  margin-left: -1px;
}

.currentTitle:hover::before {
  height: 50% !important;
}

.wrapper {
  line-height: 1.2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.wrapper p {
  font-family: "Ledger";
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.7) 11%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.8) 31%, black 60%, black 60%, rgba(0, 0, 0, 0.7) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.wrapper .container {
  padding: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */