$primaryColor: #f8f8f5;
$gold: #b59b07;
#tablePicContainer{
    background-color: #2F2F2F;

    .singlePicTable{
        position: relative; 
        display: flex;
        width: 23%;
        margin-right: 15px;
        margin-top: 15px;
        border: 1.5px solid $gold;
        box-shadow: 5px 5px 5px #00000074;
        transition: all 0.4s ease-in-out;
        
        &:hover{
            scale: 1.05;
            z-index: 5;
            .noBG{
                background-color: transparent !important;
            }
        }      
        img{
            width: 100%;
            aspect-ratio: 1/0.8;
            object-fit: cover;
            object-position: center;
        }
        ul{
            text-decoration: none !important;
            list-style: none !important;
        }
        .picDescr:not(.noBG){
            height: 0%;
            width: 100%;
            background-color: #00000096;
            color: #f8f8f5;
            transition: all 0.4s ease-in-out;
            position: absolute;
            bottom: 0%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            h3{
                display: flex;
                margin:  0px 0px 0px 35px;
                font-size: 16px;
                text-shadow:     
                    -1px -1px 1px #000000,
                    1px -1px 1px #000000,
                    -1px 1px 1px #000000,
                    1px 1px 1px #000000;
                text-align: start;
            }
            ul{
                font-size: 14px !important;
                text-decoration: none;
                list-style: none;
                margin-left: 10px;
                color: #fafafa;

                li{ width: fit-content;}

                text-shadow:     
                    -1px -1px 1px #000000,
                    1px -1px 1px #000000,
                    -1px 1px 1px #000000,
                    1px 1px 1px #000000;
            }
            h3, ul{
                padding: 0px;
                scale: 0;
                transition: all 0.4s ease-in-out;
            }
        }
        &:hover{
            .picDescr{
                height: 100%;
                width: 100%;
                h3, ul{
                    scale: 1;
                    font-family: 'Inter';
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {

}
@media only screen and (max-width: 1361px) {
 
}
@media only screen and (min-width: 701px) and (max-width: 930px) {

}
@media only screen and (min-width: 701px) and (max-width: 1300px) {


}
@media only screen and (max-width: 700px) {
    #chefTableSec{
        margin-top: 0px !important;
        padding-top: 0px !important;
        .picDescr:hover{
            display: none;
        }
    }
    #tablePicContainer{
        background-color: #2F2F2F;
    
        .singlePicTable{
            width: 30%;
            margin-right: 5px;
            margin-top: 5px;
            .picDescr:not(.noBG){
                display: none;
            }

        }
    }
}